<!DOCTYPE html>
<html>
    <head>
        <title>Vue 3 Basics</title>
        <style>
            .box {
                height: 200px;
                width: 200px;
                background-color: black;
            }
            .box.two {
                background-color: blue;
            }
            .box.three {
                background-color:blueviolet;
            }
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            {{ greeting }}
            <!--Aqui estou chamando o 'v-on', para aguardar receber
            um evento de clicar numa tecla do teclado...
            é necessário especificar qual, no caso é a enter(13)-->
            <input @keyup.enter="greet(greeting + '!!!!!!!!!')" v-model="greeting">

            <hr />
            <!--Sempre que for trabalhar com evento, como clicar em algo ou numa tecla, etc... 
            usasse o 'v-on', e depois informar qual ação ele espera acontecer para chamar o evento
            em JS definido em aspas-->
            <!-- 'v-on:' é a mesma coisa que @-->
            <button @click="toggleBox">Toggle box</button>
            <!--Da mesma forma que o 'keyup é específicado a tecla, outro eventos em vue podem ser específicos
                por exemplo:
                @click.left (evento só ativa quando clicar com o botão esquerdo do mouse)
                @click.prevent (previne que formulário seja enviado'
                @click.prevent.stop (faz ele não se propagar também)-->
            <div v-if="isVisible" class="box"></div>
        </div>
    </body>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            // 'data' tem o objetivo de armazenar todas as variáveis que serão usada no aplicativo vue
            data: function() {
                return {
                     greeting: 'Hello Vue 4',
                     isVisible: false
                }
            },
            // 'methods' tem o objetivos de armazenar todos os eventos e funções que serão usado no aplicativo vue
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible;
                },
                greet(greeted) {
                    console.log(greeted);
                }
            }
        })
        app.mount('#app');
    </script>
</html>