<!DOCTYPE html>
<html>
    <head>
        <title>Vue 3 Basics</title>
        <style>
            .box {
                height: 200px;
                width: 200px;
                background-color: black;
            }
            .box.two {
                background-color: blue;
            }
            .box.three {
                background-color:blueviolet;
            }
            [v-cloak] {
                display: none;
            }
            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <custom-form/>
            <hr />
            <button @click="toggleBox">Toggle box</button>
            <div v-if="isVisible" class="box"></div>
        </div>
    </body>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                     greeting: 'Hello Vue 4',
                     isVisible: false
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible;
                },
                greet(greeted) {
                    console.log(greeted);
                }
            }
        })

        /*Dentro do components, vou definir todas as componentes que serão acessadas na minha aplicação, por meio
        de uma única tag... no caso estou criado uma na mão, mas geralmente se criar programas externos para defini-lás*/
        app.component('custom-form', {
            /*Lembrando as variáveis data() que deifnir aqui só valem dentro do template.*/
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <input type="email" v-model="email"/>
                    <input type="password" v-model="password"/>
                    <button>Log in</button>
                </form>
            `,
            data() {
                return {
                    title: 'Login Form',
                    email: '',
                    password: ''
                }
            },
            methods: {
                handleSubmit() {
                    console.log(this.email, this.password);
                }
            }
        })
        /*A nova tag customizada dop Vue.js (components), deve ser criada após a instância 
        que cria o app do vue, para trazé-lo para aplicação(Vue.createApp)...
         e antes do comando que monta o aplicativo na tela (app.mount('#app'))*/
        app.mount('#app');
    </script>
</html>